/MinaBzar/nbproject/private/
/ITShop/nbproject/private/
/ITShop/build/
/TestJDBC1/nbproject/private/
/TestJDBC1/build/
/TestJDBC2/nbproject/private/
/TestJDBC2/build/
/BasicExercises/nbproject/private/
/BasicExercises/build/
/EVDValidation/nbproject/private/
/EVDValidation/build/
/Practic/TestJDBC1/build/
/Practic/TestJDBC1/nbproject/private/
/Practic/TestJDBC2/build/
/Practic/TestJDBC2/nbproject/private/
